.referencia {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 350px;
    height: 50px;
}
    

.explica .nomes {
    display: flex;
    margin-top: -55px;
}
.data,
.person {
    display: flex;
    align-items: center;
    justify-content: center;

}

.read {
    width: 180px;
    height: 55px;
    display: flex;
    background-color: rgb(91, 132, 91);
    border: none;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: 40px;
    font-family:var(--font-Oswald);
    font-size: 1.01rem;
    font-weight: 700;
    gap: 3px;

}

.seta {
    width: 100px;
    height: 40px;
    display: flex;
    background-image: url(../images/flechas.png);
    background-repeat: no-repeat;
    background-position: center;
    filter: brightness(1.2) contrast(1.1);

}

.dizer h2 {
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 1.8rem;
    font-size-adjust: calc(20px);
    width: 80%;
    font-weight: 900;
    font-family:var(--font-Oswald);
    line-height: 33px;
    margin-bottom: 15px;
}
.dizer{
    display:flex;
    align-items:start;
    flex-direction: column;
    width: 100%;
    padding-left: 50px;
}
.dizer p {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    width: 85%;
    text-align: left;
    color: rgb(163, 163, 163);
    word-spacing: 6px;
    line-height: 30px;
    font-weight: 550;
}

.marrom {
    display: flex;
    width: 100%;
    background-image: url(../images/sobreporMarrom.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    background-color: blue;
}
.imagem:nth-child(1) {
    background-image: url(../images/tirolesa.jpg);
}
.imagem {
    display: flex;
    width: 110%;
    height: 420px;
    background-image: url(../images/tirolesa.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    
}
.traveltips {
    display: flex;
    width: 150px;
    height: 35px;
    background-color: rgb(247, 242, 238);
    position: absolute;
    left: -15px;
    top: 14px;
    align-items: center;
    font-style: italic;
    justify-content: space-around;
    padding: 0 15px;
    font-family:var(--font-Lora);
    overflow: hidden;
}

.ponta {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transform: rotate(135deg);
}

.cards {
    display: flex;
    width: 470px;
    position: static;
    height: 100%;
    position: relative;
    flex-direction: column;


}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.iten {
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 250px;
    height: 250px;
    filter: opacity(90%) sepia(-1);


}
.update{
    display:flex;
    align-items:center;
    
    width: 500px;
}
.social{
    display:flex;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items:center;
    justify-content:center;
    width: 30px;
    height: 30px;
    transform: scale(0.7);
} 


.about {
    display: flex;
    max-width: 400px;
    height: 80%;
    align-items: start;
    justify-content:start;
    flex-direction: column;
    gap: 10px;

}
.about p{
    font-size: 1.2rem;
    font-weight: 200;
    font-family: var(--font-Crimson);
    color: rgba(255, 255, 255, 0.747);
}

.logo {
    background-image: url(../images/logo-footer.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: opacity(80%) contrast(1.1) saturate(1.4);
    width: 200px;
    height: 110px;
    margin-bottom: 18%;
    transform: scale(0.8);

}
.yname, .yemail{
    display:flex;
    padding: 20px;
    height: 50px;
    width: 250px;
    border-top: none;
    border-right: none;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    background-color: transparent;
      font-family:var(--font-Crimson);
      font-size: 1.2rem;
      font-weight: 400;
      font-style: italic;
      color: white;
    

}
.yname:focus, .yemail:focus{
    border: black;
}
.yname::placeholder, .yemail::placeholder{
    color: white;
}


.and {
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    flex-direction: column;
    width:50vw;
    gap: 50px;
    transform: translateX(-100px);
}

.and h3 {
    display: flex;
    font-size: 1.4rem;
    font-style: italic;
    font-family:var(--font-Crimson);
    color: rgb(172, 171, 171);
    font-weight: 100;
} 

footer .subscribe{
    display:flex;
    color: white;
    background-color:transparent;
    width: 100%;
    align-items: center;
    justify-content: start;
    font-size: 1.1rem;
    margin: 0;
}
.notices h1, .updates h1, .about h1{
    display: flex;
    font-size: 1.4rem;
    margin: 10px;
    margin-left: 0;
}

.notices h1, .instagram h1{

    width: 100%;
}
.updates{
    display:flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    margin-bottom: 35px;
    max-width:  30%;
}


.alinhar{
    display:flex;
    gap: 50px;
}
.update h4{
    display:flex;
    max-width: 100%;
    margin-bottom: 10px;
    text-align: justify;
}
.complicado{
    padding-top: 20px;
}

.news{
    display:flex;
    max-width: 100%;
    flex-direction: column; 
    align-items: start;
}

.update{
    display:flex;
    max-width: 100%;
    align-items:center;
    gap: 10px;
    

}
.instagram{
    display:flex;
    width: 250px;
    padding-top: 10px;
}
.instagram h1{
    display:flex;
    font-size: 1.4rem;
}
.parteBaixo{
    display: flex;
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.651);
    position: absolute;
    bottom: 0;
    align-items:center;
    justify-content:space-around;
}
.direitos, .socials{
    display:flex;
    align-items:center;
    gap: 15px;
}
.direitos h4{
    display: flex;
    margin-bottom: 10px;
}

.social:nth-child(1){
    background-image: url(../images/instagram.png);
}


.livro {
    display: flex;
    background-image: url(../images/livro.png);
    width: 650px;
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.subscribe {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    color: white;
    background-color: green;
    border: none;
}
#nome,
#email {
    display: flex;
    width: 100%;
    padding: 18px;
    border: none;
    color: rgb(80, 80, 80);
    font-size: 1.1rem;
    align-items: center;
}