main {
    display: flex;
    width: 100%;
    background-color: white;
    flex-direction: column;
    color: black;
    align-items: center;
    background-image: url(../images/fundosla.jpg.jpeg);
    position: relative;
    gap: 50px;

}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    height: 110px;
    width: 90%;
    color: white;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    font-size: 1.1rem;
    position: relative;
    z-index: 100;
}

.hamburguer {
    display: none;
    cursor: pointer;
}

footer {
    background-color: rgb(35, 37, 35);
    display: flex;
    width: 100%;
    height: 600px;
    align-items: center;
    justify-content: space-evenly;
    position: relative;

}


header img {
    display: flex;
    width: 130px;
    height: 105px;
    align-items: center;
    justify-content: center;
}

nav a {
    color: white;
    text-decoration: none;
}

nav {
    gap: 5vw;
    display: flex;
}


main span {
    display: flex;
    color: white;
    margin-left: 10px;
}


/* Responsividade centralizada no media-queries.css */
main {
    max-width: 100%;
    overflow-x: hidden;
}
